body
{
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em; 
	background-color: #000;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(../images/bgBodyImg.jpg)
}

a, a:link, a:visited
{
	color: #dc600d; 
	font-weight: normal; 
	text-decoration: none; 
}

a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 30px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 24px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.divider { margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #000 }

#outerDivision 
{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

#TopHeaderDiv 
{
	width: 940px;
	padding: 40px 10px 20px;
	background: url(../images/header.png) bottom center no-repeat;
}

#mainMenu
{
	width: 940px;
	height: 70px;
	background: url(../images/menu.jpg) no-repeat;
	position:relative;
}

#frontPromoImg
{
	width: 940px;
	padding: 20px 0;
	height: 600px;
	overflow: hidden;
	margin-bottom: 20px;
}

#main_content
{
	width: 940px;
	padding: 40px 0;
}

.scrollbars
{
	overflow:scroll;
}

.col_active
{
	cursor:default;
}

#content { 
	float: left; 
	width: 600px; 
	padding-right: 20px; 
}

#footerOuterDivisionWrapper
{
	clear: both;
	width: 100%;
	background: #1c1c1c url(../images/footerOuterDivisionWrapper.jpg) repeat-x top;
}

#FooterDivision 
{
	width: 940px;
	margin: 0 auto;
	padding: 30px 10px;
	background: url(../images/templatemo_footer.jpg) top center no-repeat
}

#site_title 
{
	float: left; 
}

#site_title h1 { 
	margin: 0; 
	padding: 0; 
}

#site_title h1 a
{ 
	display: block; 
	font-size: 32px; 
	font-family: "Algerian";
	width: 1024px; 
	height: 38px; 
	color: #FFFFFF; 
	/*background: url(../images/templatemo_logo.png) no-repeat center left; */
}

.homePageSpecsContent { margin-bottom: 40px }
.homePageSpecsContent h2 { font-size: 18px; line-height: 18px; margin-bottom: 5px; padding: 10px 0 20px 0; background-repeat: no-repeat; background-position: left }
.homePageSpecsContent img { float: left; margin-right: 10px }
.homePageSpecsContent h2 a { color: #fff }
.homePageSpecsContent p { font-size: 11px }

p.position { color: #f3a706; font-weight: bold; font-size: 12px; font-style: italic; margin-bottom: 10px }

.devBuildPics { margin: 0; padding:0; list-style: none }
.devBuildPics li { float: left; margin: 0 4px 4px 0; padding: 0 }
.devBuildPics li .no_margin_right { margin-right: 0 }
.devBuildPics li img { padding: 4px; border: 1px solid #272727; background: #0f0f0f }	

.twitter_post
{
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

.twitter_post li
{
	margin: 0 0 15px; 
	padding: 0 0 15px 60px; 
	border-bottom: 1px dotted #4e4e4e; 
	background: url(../images/twitter_48.png) left center no-repeat; 
}

.footerSocialConnect
{
	clear: both; 
	margin-bottom: 40px; 
}

.footerSocialConnect a { 
	margin-right: 5px; 
}

.col
{
	float: left; 
	margin: 0 20px 20px 0; 
}

.half
{
	width: 400px; 
}

.one_third
{
	width: 300px; 
}

.two-third
{
	width: 620px; 
}

.padding_right
{
	padding-right: 20px;
}

.one_fourth
{
	width: 220px; 
}

.no_margin_right
{
	margin-right: 0; 
}

.last_box
{
	margin-bottom: 0; 
	background: none; 
}